
#projpics{
  max-height: 300px;
  
  height: 300px;
}


.col-lg {
  margin-right: 50px;
  margin-bottom: 30px;
  color: white;
}

.col-lg{
  background: rgba(255, 255, 255, 0.16);
  backdrop-filter: blur(7px);
  
  -webkit-backdrop-filter: blur(7px);
  border-radius: 20px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-shadow: 
    0 8px 32px rgba(0, 0, 0, 0.1),
    inset 0 1px 0 rgba(255, 255, 255, 0.5),
    inset 0 -1px 0 rgba(255, 255, 255, 0.1),
    inset 0 0 4px 2px rgba(255, 255, 255, 0.2);
  
}

.col-lg::before{
  content: '';
  background: linear-gradient(
    90deg,
    transparent,
    rgba(255, 255, 255, 0.8),
    transparent
  );
}
.col-lg::after{
  content: '';
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0.8),
    transparent,
    rgba(255, 255, 255, 0.3)
  );
}

h5{
  text-align: left;
}

#personalProjects,#roadmap{
  color: black;

}